Everest_iOS.xcworkspace/xcuserdata/Sathoshi.xcuserdatad/xcdebugger/
Everest_iOS.xcworkspace/xcuserdata/Sathoshi.xcuserdatad/UserInterfaceState.xcuserstate
Everest_iOS.xcworkspace/xcuserdata/Sathoshi.xcuserdatad/UserInterfaceState.xcuserstate
Everest_iOS/Env.plist 
Pods/Pods.xcodeproj/xcuserdata/
